// Base styles and whatnot

html {
	background: #fff;
	overflow-x: hidden;
}

#page {
	width: 100%;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	background: none;
	margin-top: 2em;
	margin-bottom: 0;
}

footer[role="contentinfo"] {
	border-top: none;
	margin-top: none;

	a {
		color: $lanc_orange;
	}
}
