// Base styles and whatnot

html {
	background: linear-gradient(
      rgba($lanc_yellow, 0.8),
      rgba($lanc_yellow, 0.8)
    ), url('//lancasterpa.wordcamp.org/2016/files/2016/01/map-bg-1600x800-sharp.jpg') fixed 50% 0 no-repeat;
	background-size: cover;
}

body {
	background: none;
}

#page {
	width: 100%;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	background: none;
	margin-top: 3em;
	margin-bottom: 0;
}
