// Header styles

#masthead {
	padding-top: 1em;
	padding-bottom: 0;
}

#masthead hgroup h1 {
	margin: 0;
}

#masthead hgroup h1 a:before {
	content: '';
	background: url('//lancasterpa.wordcamp.org/2016/files/2015/11/cropped-cropped-wordcamp-lancaster-logo-2016.png') 50% 50% no-repeat;
	background-size: 158px 159px;
	display: block;
	height: 159px;
	width: 159px;
	margin: 0 auto;
}

#masthead hgroup h1 a {
	display: block;
	text-align: center;
	color: #423736;
}

.site-header {
	.site-title {
		height: 14.5rem;

		@include wider-than(tablet) {
			height: 24.5rem;
		}
	}
}

.site-description {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #e1391d;
	height: auto;
	padding: .5em;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	line-height: 1;
}

.admin-bar .site-description {
	top: 32px;
}

.site-header h2 {
	color: #ffffff;
	text-align: center;
}
