// Header styles

#masthead {
	padding-top: 1em;
	padding-bottom: 0;
}

.site-header {
	.site-title {
		height: 14.5rem;
		padding-top: 0;

		@include wider-than(tablet) {
			height: 24.5rem;
			padding-top: 6rem;
		}

		a {
			display: block;
			text-align: center;
			font-size: 4rem;
			color: #423736;
			max-width: 320px;
			margin: 0 auto;
			font-family: 'Roboto Slab', serif;
			font-weight: 300;
			text-transform: lowercase;


			&:first-line {
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				font-weight: bold;
			}

			// logo
			&:before {
				content: '';
				background: url('//lancasterpa.wordcamp.org/2016/files/2015/11/cropped-cropped-wordcamp-lancaster-logo-2016.png') 50% 50% no-repeat;
				background-size: 158px 159px;
				display: block;
				height: 159px;
				width: 159px;
				margin: 0 auto;
			}
		}
	}
}

.site-description {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #e1391d;
	height: auto;
	padding: .5em;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	line-height: 1;
}

.admin-bar .site-description {
	top: 32px;
}

.site-header h2 {
	color: #ffffff;
	text-align: center;
}
