// Various common breakpoints

$breakpoints: (
    tp-xxlarge: 2300px,
	tp-xlarge: 1700px,
    infographic-large: 1480px,
    desktop: 1200px,
    toggle-actions-menu: 1130px,
    container-width: 1120px,
    wp-short-admin-bar: 783px,
    tp-large: 1300px,
    tablet-landscape: 1024px,
    tablet: 960px,
    tablet-mid: 820px,
    tp-legacy-tablet: 770px,
    tablet-ipad: 768px,
    tablet-small: 600px,
    tp-emailtab: 480px,
    tp-legacy-small: 441px,
    phone-larger: 430px,
    phone: 320px
);

// 2. Mixin will run through the above key value pairs and create our media queries.
// Usage example:
//
// .selector {
//		width: 100%;
//
//		@include wider-than(tablet) {
//			width: 50%;
//		}
//	}

@mixin wider-than($screen-size) {
    @if map-has-key($breakpoints, $screen-size) {
        @media (min-width: map-get($breakpoints, $screen-size)) {
            @content;
		}

	} @else {
        // Debugging
        @warn "'#{$screen-size}' has not been declared as a breakpoint omg.";
    }
}

// Vertical Align Middle
// Usage @mixin vertical-align(middle);

@mixin vertical-align($position:middle) {
    position: relative;

    @if $position == none {
        top: auto;
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
    } @else if $position == top {
        top: 0%;
        transform: translateY(0%);
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
    } @else if $position == bottom {
        top: 100%;
        transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    } @else {
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}
