// Posts and whatnot
.note {
	background: #F9CF00;
	border-bottom: 2px solid #62393B;
	border-radius: 3px;
	// .625rem = 10px
	padding: 1rem 0 .625rem 0;
	color: #62393B;
	line-height: 1.5;

	// ul styles in .note divs
	ul, li {
		list-style-position: inside;
		text-align: left;
	}

	table {
		border-bottom: 1px solid #EDEC76;

			td {
			border-top: 1px solid #EDEC76;
			padding: 1rem;
			color: $lanc_brown;
		}
	}
}

// Remove box shadow on post images
img.wp-post-image {
	box-shadow: none;
}

