.entry-content table.wcpt-schedule {
  font-size: 14px;
  font-size: 1rem;

  thead tr {
    background-color: $lanc_orange;

    th {
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 3;
    }
  }
  td {
    text-align: center;
    line-height: 1.5;
  }

  a.wcpt-session-title {
    font-weight: bold;
  }

  .wcpt-session-speakers {
    display: block;
    a {
      font-size: 12px;
      color: $lanc_dark_blue;
    }
  }

  tr {
    background-color: lighten($lanc_light_blue, 37.5%);
  }

  tr.global-session {
    background-color: $lanc_dark_blue;
    color: white;

    &.keynote-panel-open-source-everywhere {
      background-color: lighten($lanc_light_blue, 32.5%);
      color: $lanc_dark_blue;
    }

    &.pre-party-remarks,
    &.greeting-and-opening-remarks {
      background-color: lighten($lanc_light_blue, 17.5%);
      color: white;
    }

    .wcpt-session-speakers a {
      color: $lanc_orange;
    }
  }

}
