.entry-content table.wcpt-schedule {
  font-size: 14px;
  font-size: 1rem;

  thead tr {
    background-color: $lanc_orange;

    th {
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 3;
    }
  }
  td {
    text-align: center;
  }

  .wcpt-session-speakers {
    display: block;
    a {
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
    }
  }

  tr {
    background-color: lighten($lanc_yellow, 38%);
  }

  tr.global-session {
    background-color: $lanc_dark_blue;
    color: white;
  }

}
