.entry-content table.wcpt-schedule {
  font-size: 14px;
  font-size: 1rem;

  thead {
    background-color: $lanc_orange;

    th {
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 3;
    }
  }
  td {
    text-align: center;
  }

  .wcpt-session-speakers {
    display: block;
    a {

    }
  }

  .global-session {
    background-color: $lanc_dark_blue;
    color: white;
  }

}
