/*
Sessions
*/

.wcorg-sessions {
  display: block;
  margin: 0 auto;
  width: 100%;
  column-count: 3;

  .wcorg-session {
    background: #ededed;
    display: inline-block;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;

    h2,
    .wcorg-session-description {
      padding: .5rem;
    }
  }
}
