/*
Sessions
*/

// test test test test test test test test test test test
.wcorg-sessions {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;

  .wcorg-session {
    flex: 1;
  }
}
