/*
Sessions
*/

.page-slug-sessions,
.page-id-9 {
  .entry-title {
    text-align: center;
    font-size: 2rem;
  }
}

.wcorg-sessions {
  display: block;
  margin: 0 auto;
  width: 100%;
  column-count: 3;

  .wcorg-session {
    background: $lanc_light_blue;
    display: inline-block;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    margin-top: .5rem;
    color: $lanc_ivory;

    h2,
    .wcorg-session-description {
      padding: .5rem;
      color: $lanc_ivory;
    }

    h2 {
      text-align: center;
      margin-bottom: 0;
      border-bottom: 2px solid $lanc_dark_blue;
    }

    .wcorg-session-description {

      .wcpt-session-meta {
        padding: .5rem;
        font-size: .75rem;
        color: $lanc_ivory;

        a {
          color: $lanc_ivory;
          text-decoration: underline;
        }
      }
    }
  }
}
