body {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title,
.site-description {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	color: white;
	font-weight: bold;
	color: $lanc_light_blue;
}

.site-header {
	.site-title {
		text-align: center;
	}
}

.site-branding {
	text-align: center;
	margin: 0 auto;
}

a {
	color: darken($lanc_light_blue, 20%);

	&:hover {
		color: darken($lanc_light_blue, 30%);
	}
}
