// WordCamp Lancaster 2016 - TwentySixteen theme style additions

.fp-links {
	a {
		background: #F93E21;
		color: white;
		font-family: Montserrat, "Helvetica Neue", sans-serif;
		font-size: 2rem;
		padding: 1rem;
	}
}
