// Widget Specific Styles

    .widget-title {
        line-height: 1.5;
        padding: 25px 0 0;
    }

//  Note widget
    .note {
        line-height: 1.5;
        padding-bottom: 10px;
    }

// Subscription Widget
    #subscribe-email {
        margin-bottom: 10px;
    }


// Venue Widget

    .confit-address,
    .confit-hour {
        padding: 10px 0;
        line-height: 1.5;
    }
