html {
  background: url("//lancasterpa.wordcamp.org/2016/files/2016/01/map-background.png") fixed 50% 0 no-repeat;
  background-size: 1600px 591px;
}

body {
  background: none;
}

#page {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: none;
  margin-top: 3em;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title,
.site-description {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
  color: #7791ba;
}

.site-header .site-title {
  text-align: center;
}

.site-branding {
  text-align: center;
  margin: 0 auto;
}

#site-navigation {
  background-color: #e1391d;
  color: #fff;
}

#site-navigation ul.nav-menu,
#site-navigation div.nav-menu > ul {
  text-align: center;
  border-width: 0;
}

#site-navigation li a {
  color: #fff;
}

.main-navigation {
  font-family: 'Montserrat', sans-serif;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
  position: relative;
}

.main-navigation .current-menu-item > a:after,
.main-navigation .current-menu-ancestor > a:after,
.main-navigation .current_page_item > a:after,
.main-navigation .current_page_ancestor > a:after,
#site-navigation li:hover > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: .75em solid #fff;
  position: absolute;
  bottom: 0;
  left: 40%;
  left: calc(50% - 1em);
}

#site-navigation li.menu-item-has-children:hover a:after {
  border-bottom-color: #c9341a;
}

.main-navigation li ul li a {
  background: #c9341a;
  border-bottom: 0;
  text-align: left;
}

.main-navigation li ul li a:hover {
  background: #c9341a;
}

#site-navigation li ul li a:after {
  display: none;
}

#main {
  background: #fff;
  padding: 3rem 2em;
}

#masthead {
  padding-top: 1em;
  padding-bottom: 0;
}

.site-header .site-title {
  height: 14.5rem;
  padding-top: 0;
}

@media (min-width: 721px) {
  .site-header .site-title {
    height: 24.5rem;
    padding-top: 6rem;
  }
}

.site-header .site-title a {
  display: block;
  text-align: center;
  font-size: 4rem;
  color: #423736;
  max-width: 320px;
  height: auto;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 1;
}

@media (min-width: 721px) {
  .site-header .site-title a {
    height: 222px;
    overflow: hidden;
  }
}

.site-header .site-title a:before {
  content: '';
  background: url("//lancasterpa.wordcamp.org/2016/files/2015/11/cropped-cropped-wordcamp-lancaster-logo-2016.png") 50% 50% no-repeat;
  background-size: 158px 159px;
  display: block;
  height: 159px;
  width: 159px;
  margin: 0 auto;
}

@media (min-width: 721px) {
  .site-header .site-title a:after {
    display: block;
    content: 'Lancaster';
    text-align: center;
    text-transform: lowercase;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
  }
}

.site-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #e1391d;
  height: auto;
  padding: .5em;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  line-height: 1;
}

.admin-bar .site-description {
  top: 32px;
}

.site-header h2 {
  color: #ffffff;
  text-align: center;
}

.fp-links {
  display: block;
}

.fp-links a:hover, .fp-links a:focus {
  box-shadow: 0 4px #D32C13;
  top: 2px;
}

.fp-links a:active {
  box-shadow: 0 0 #D32C13;
  top: 6px;
}

.fp-links a:visited {
  color: white;
}

.fp-links a,
a.lanc-btn {
  background: #F93E21;
  color: white;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: block;
  position: relative;
  box-shadow: 0 6px #D32C13;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 1rem;
  outline: 0;
  margin: .5rem 0;
}

.fp-links a:hover, .fp-links a:focus,
a.lanc-btn:hover,
a.lanc-btn:focus {
  box-shadow: 0 4px #D32C13;
  top: 2px;
}

.fp-links a:active,
a.lanc-btn:active {
  box-shadow: 0 0 #D32C13;
  top: 6px;
}

.widget-area .widget a.lanc-btn {
  color: white;
}

.note {
  background: #F9CF00;
  border-bottom: 2px solid #62393B;
  border-radius: 3px;
  padding: 1rem 0 .625rem 0;
  color: #62393B;
  line-height: 1.5;
}

/* Remove box shadow on post images */
img.wp-post-image {
  box-shadow: none;
}

.widget-area aside.widget {
  color: #423736;
  margin-bottom: 1.5em;
}

.widget-area aside.widget .widget-title {
  border-top: 3px solid #c9341a;
  color: #423736;
  font-size: 1.3em;
}

.widget-area aside.widget .widget-title a {
  color: #423736;
}

.widget-area .widget_search #s {
  width: 90%;
  width: calc(100% - 12px);
  border: 0;
  border-radius: 0;
}

.widget-area .widget_search input[type=submit] {
  display: none;
}

.widget-title {
  line-height: 1.5;
  padding: 25px 0 0;
}

.note {
  line-height: 1.5;
  padding-bottom: 10px;
  text-align: center;
}

#subscribe-email {
  margin-bottom: 10px;
}

#subscribe-email input {
  border-radius: 0;
  padding: .428571429rem;
  text-align: center;
}

#subscribe-submit input[type=submit] {
  border-radius: 0;
  border: none;
  color: #fff;
  width: 100%;
  background-color: #c9341a;
  background-image: -moz-linear-gradient(top, #c9341a, #c9341a);
  background-image: -ms-linear-gradient(top, #c9341a, #c9341a);
  background-image: -webkit-linear-gradient(top, #c9341a, #c9341a);
  background-image: -o-linear-gradient(top, #c9341a, #c9341a);
  background-image: linear-gradient(top, #c9341a, #c9341a);
}

.confit-address,
.confit-hour {
  padding: 10px 0;
  line-height: 1.5;
}

.textwidget .wcorg-sponsor-description p {
  display: none;
}

.wcb_widget_sponsors .sponsor-logo {
  margin: .5em 0;
}

.wcb_widget_sponsors img {
  box-shadow: none;
}

#tix-attendees li {
  margin: 0;
}

#text-2 h3 span {
  font-weight: 400;
}

#text-2 h4 {
  display: inline;
  font-size: 1.5em;
  line-height: 1;
}

#text-2 h4 a {
  color: #c9341a;
  text-decoration: none;
}

#text-2 h4 a:hover {
  text-decoration: underline;
}

.wcb_widget_sponsors .sponsor-level-title,
#text-3 h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 1.5em 0 .5em;
}

#text-3 h3,
#text-3 .sharedaddy {
  display: none;
}

#text-3 .widget-title {
  display: block;
}

#text-3 img {
  box-shadow: none;
}

#text-3 .wcorg-sponsor {
  text-align: center;
}

#text-3 #wcorg-sponsor-700025 img {
  background: #fff;
}

@media (max-width: 782px) {
  .admin-bar #text-2 {
    top: 46px;
  }
}

@media only screen and (min-width: 1024px) {
  .fp-links {
    display: flex;
    justify-content: space-between;
  }
  .fp-links a {
    width: max-content;
    min-width: 14rem;
  }
}

/*# sourceMappingURL=style.css.map */