html {
  background: #f8cd00;
}

body {
  background: linear-gradient(rgba(248, 205, 0, 0.8), rgba(248, 205, 0, 0.8)), url("//lancasterpa.wordcamp.org/2016/files/2016/01/map-bg-1600x800-sharp.png") fixed 50% 0 no-repeat;
  background-blend-mode: lighten;
  background-size: 1600px 800px;
}

@media (min-width: 960px) {
  body {
    background-size: cover;
  }
}

#page {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: none;
  margin-top: 2em;
  margin-bottom: 0;
}

footer[role="contentinfo"] {
  border-top: none;
  margin-top: none;
}

footer[role="contentinfo"] a {
  color: #ff4122;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title,
.site-description {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #6986b5;
}

.site-header .site-title {
  text-align: center;
}

.site-branding {
  text-align: center;
  margin: 0 auto;
}

a {
  color: #4e6c9d;
}

a:hover {
  color: #3d557b;
}

.entry-content a,
.comment-content a {
  color: #ff4122;
}

.entry-content a:visited,
.comment-content a:visited {
  color: #ff4122;
}

.entry-content a:hover,
.comment-content a:hover {
  color: #bb1a00;
}

#site-navigation {
  background-color: #ff4122;
  color: #fff;
}

#site-navigation ul.nav-menu,
#site-navigation div.nav-menu > ul {
  text-align: center;
  border-width: 0;
}

@media (max-width: 600px) {
  #menu-nav {
    width: 100%;
  }
  #menu-nav li {
    margin-top: 0;
    font-size: 1rem;
  }
  #menu-nav li a {
    width: 100%;
    padding-top: 5px;
    display: block;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
  }
}

#site-navigation li a {
  color: #fff;
}

.main-navigation {
  font-family: 'Montserrat', sans-serif;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
  position: relative;
}

@media (min-width: 600px) {
  .main-navigation .current-menu-item > a:after,
  .main-navigation .current-menu-ancestor > a:after,
  .main-navigation .current_page_item > a:after,
  .main-navigation .current_page_ancestor > a:after,
  #site-navigation li:hover > a:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: .75em solid #fff;
    position: absolute;
    bottom: 0;
    left: 40%;
    left: calc(50% - 1em);
  }
}

#site-navigation li.menu-item-has-children:hover a:after {
  border-bottom-color: #bb1a00;
}

.main-navigation li ul li a {
  background: #bb1a00;
  border-bottom: 0;
  text-align: left;
}

.main-navigation li ul li a:hover {
  background: #881300;
}

#site-navigation li ul li a:after {
  display: none;
}

#main {
  background: #fff;
  padding: 3rem 2em;
}

button.menu-toggle {
  background-color: #ff4122;
  color: #fff;
  border: none;
  border-radius: none;
  background-image: initial;
  width: 100%;
  font-size: 1rem;
}

button.menu-toggle.toggled-on,
.menu-toggle:hover,
.menu-toggle:focus {
  color: #fff;
  background-color: #bb1a00;
  background-image: initial;
  border: none;
  box-shadow: none;
}

#masthead {
  padding-top: 1em;
  padding-bottom: 0;
}

.site-header .site-title {
  height: 14.5rem;
  padding-top: 0;
  text-align: center;
  height: 9rem;
  padding-top: 12.5rem;
}

.site-header .site-title a {
  display: block;
  text-align: center;
  color: #61393c;
  max-width: 330px;
  height: auto;
  margin: 0 auto;
  font-weight: bold;
  font-size: 0;
  line-height: 1;
  text-indent: -9999px;
}

.site-header .site-title a:before, .site-header .site-title a:after {
  margin: 0 auto;
  text-indent: 0;
  display: block;
}

.site-header .site-title a:before {
  content: 'WordCamp';
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.3rem;
  width: 300px;
}

@media (min-width: 430px) {
  .site-header .site-title a:before {
    font-size: 3.3rem;
  }
}

.site-header .site-title a:after {
  content: 'Lancaster';
  text-align: center;
  text-transform: lowercase;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  letter-spacing: .5rem;
  font-size: 3.3rem;
}

@media (min-width: 430px) {
  .site-header .site-title a:after {
    font-size: 4.3rem;
  }
}

.site-header .site-title a:hover {
  color: #3d557b;
}

.site-header h2 {
  line-height: 1.3rem;
}

.site-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  height: auto;
  padding: .5em;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  display: block;
  content: '';
  height: 20px;
  line-height: 1.4;
  background: #ff4122;
}

.site-description:after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  background: url("//lancasterpa.wordcamp.org/2016/files/2015/11/cropped-cropped-wordcamp-lancaster-logo-2016.png") top center no-repeat;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  height: 159px;
  width: 300px;
  top: 36px;
}

.admin-bar .site-description {
  top: 32px;
}

.site-header h2 {
  color: #ffffff;
  text-align: center;
}

.fp-links {
  display: block;
}

.fp-links a:hover, .fp-links a:focus {
  box-shadow: 0 4px #D32C13;
  top: 2px;
}

.fp-links a:active {
  box-shadow: 0 0 #D32C13;
  top: 6px;
}

.fp-links a:visited {
  color: white;
}

.fp-links a,
a.lanc-btn,
input[type="submit"],
input[type="button"],
input[type="reset"],
#subscribe-submit input[type=submit] {
  background: #F93E21;
  color: white;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: block;
  position: relative;
  box-shadow: 0 6px #D32C13;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 0;
  border: 0;
  outline: 0;
  margin: .5rem 0;
  box-sizing: border-box;
}

.fp-links a:hover, .fp-links a:focus,
a.lanc-btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
#subscribe-submit input[type=submit]:hover,
a.lanc-btn:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
#subscribe-submit input[type=submit]:focus {
  box-shadow: 0 4px #D32C13;
  top: 2px;
}

.fp-links a:active,
a.lanc-btn:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
#subscribe-submit input[type=submit]:active {
  box-shadow: 0 0 #D32C13;
  top: 6px;
}

.widget-area .widget a.lanc-btn, .widget-area .widget input[type="submit"], .widget-area .widget
input[type="button"], .widget-area .widget
input[type="reset"], .widget-area .widget #subscribe-submit input[type=submit], #subscribe-submit .widget-area .widget input[type=submit] {
  color: white;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  width: auto;
}

.single-author article.post .entry-title a {
  color: #61393c;
  font-size: 1.6rem;
  font-size: x-large;
}

@media (min-width: 721px) {
  .single-author article.post .entry-title a {
    font-size: 2.2rem;
    font-size: xx-large;
    font-size: -webkit-xxx-large;
  }
}

.note {
  background: #F9CF00;
  border-bottom: 2px solid #62393B;
  border-radius: 3px;
  padding: 1rem 0 .625rem 0;
  color: #62393B;
  line-height: 1.5;
}

.note ul, .note li {
  list-style-position: inside;
  text-align: left;
}

.note table {
  border-bottom: 1px solid #EDEC76;
}

.note table td {
  border-top: 1px solid #EDEC76;
  padding: 1rem;
  color: #61393c;
}

img.wp-post-image,
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img {
  box-shadow: none;
}

.entry-content ul.speaker-announcements {
  list-style: none;
}

.entry-content ul.speaker-announcements li h3 {
  color: #ff4122;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
}

.entry-content ul.speaker-announcements li .img-wrap {
  content: '';
  display: block;
  width: 270px;
  height: 270px;
  background: transparent url("https://lancasterpa.wordcamp.org/2016/files/2016/02/lanc-speaker-avatar-bg.png") no-repeat center center;
}

.entry-content ul.speaker-announcements li img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.widget-area aside.widget {
  color: #61393c;
  margin-bottom: 1.5em;
}

.widget-area aside.widget .widget-title {
  border-top: 3px solid #ff4122;
  color: #61393c;
  font-size: 1.3em;
}

.widget-area aside.widget .widget-title a {
  color: #61393c;
}

.widget-area .widget_search #s {
  width: 90%;
  width: calc(100% - 12px);
  border: 0;
  border-radius: 0;
}

.widget-area .widget_search input[type=submit] {
  display: none;
}

.widget-title {
  line-height: 1.5;
  padding: 25px 0 0;
}

.note {
  line-height: 1.5;
  padding-bottom: 10px;
  text-align: center;
}

#subscribe-email {
  margin-bottom: 10px;
}

#subscribe-email input {
  border-radius: 0;
  border: 0;
  border-bottom: 4px solid white;
  width: 98% !important;
  background: #ededed;
  padding: .5rem .25rem;
  font-size: 1.25rem;
  color: black;
  text-align: center;
  outline: 0;
}

#subscribe-email input:active, #subscribe-email input:focus {
  border-bottom: 4px solid #ff4122;
}

.confit-address,
.confit-hour {
  padding: 10px 0;
  line-height: 1.5;
}

.textwidget .wcorg-sponsor-description p {
  display: none;
}

.wcb_widget_sponsors .sponsor-logo {
  margin: .5em 0;
}

.wcb_widget_sponsors img {
  box-shadow: none;
}

#tix-attendees li {
  margin: 0;
}

#text-2 h3 span {
  font-weight: 400;
}

#text-2 h4 {
  display: inline;
  font-size: 1.5em;
  line-height: 1;
}

#text-2 h4 a {
  color: #c9341a;
  text-decoration: none;
}

#text-2 h4 a:hover {
  text-decoration: underline;
}

.wcb_widget_sponsors .sponsor-level-title,
#text-3 h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 1.5em 0 .5em;
}

#text-3 h3,
#text-3 .sharedaddy {
  display: none;
}

#text-3 .widget-title {
  display: block;
}

#text-3 img {
  box-shadow: none;
}

#text-3 .wcorg-sponsor {
  text-align: center;
}

#text-3 #wcorg-sponsor-700025 img {
  background: #fff;
}

@media (max-width: 782px) {
  .admin-bar #text-2 {
    top: 46px;
  }
}

@media only screen and (min-width: 1024px) {
  .fp-links {
    display: flex;
    justify-content: space-between;
  }
  .fp-links a {
    width: max-content;
    min-width: 14rem;
  }
}

/*# sourceMappingURL=style.css.map */